@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Nunito Sans;
  src: url('../assets/fonts/Nunito-Sans/NunitoSans-VariableFont_YTLC\,opsz\,wdth\,wght.ttf') format(truetype);
}

* {
  font-family: Nunito Sans;
}

h1{
  font-size: 2rem;
  font-weight: 800;
}

h2{
  font-size: 1.3rem;
  font-weight: 800;
}

h3{
  font-size: 1.1rem;
  font-weight: 800;
}

p{
  line-height: 2;
}

.shadow{
  box-shadow: hsla(0, 0%, 0%, 0.2) 0px 0px 5px 2px;
}

.font-weight-bold{
  font-weight: 800;
}

.font-weight-bold-600{
  font-weight: 600;
}

.font-weight-bold-300{
  font-weight: 300;
}

.gap-18{
  gap: 4.5rem;
}

main{
  padding: 30px 50px; 
}

article.span > p {
  font-weight: 600;
}

article.span > p > span {
  font-weight: 300;
}

/* Responsyve dising  */

/* Screen 850px*/
@media (max-width: 850px) {
  h1{
    font-size: 1.5em;
  }
  
  h2{
    font-size: 1.2em;
  }

  h3{
    font-size: 1em;
  }
}